@mixin typeAnimate($delay: 4s){
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 1s steps(20, end);
  animation: type2 1s steps(30, end);
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", Helvetica, sans-serif;
}

body {
  background-color: #282a36;
  color: aliceblue;
}
/**************/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 250px;
  --speed: 30s;
  --speed2: 10s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(
    hsl(191, 97%, 70%, 85%),
    hsl(265, 89%, 78%)
  );
  animation: rotate var(--speed2) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.gradient:hover {
  animation: rotate var(--speed2) var(--easing) alternate;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}

.ctr {
  background-color: #282a36;
  position: absolute;
  inset: 0;
  display: flex;
  overflow: hidden;
  place-content: center;
  align-items: center;
  z-index: -100;
}

/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.25s ease-out;
}

/**************/

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #282a36;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.logo:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #282a36;
  animation: showLeft 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #282a36;
  animation: showRight 0.5s ease-out forwards;
  animation-delay: 0.7s;
}

.navbar a:hover,
.navbar a.active {
  color: #50fa7b;
}

.home {
  height: 100dvh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  overflow: hidden;
  font-size: 56px;
  font-weight: 800;
  line-height: 0;
  animation: showFont 1s ease forwards;
  animation-delay: 0.4s;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #bd93f9;
  line-clamp: 0;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #50fa7b;
  width: 150px;
  height: 100%;
  border: 2px solid #50fa7b;
  border-radius: 8px;
  color: #282a36;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 1;
}

.btn-box a:nth-child(2) {
  background-color: transparent;
  color: #50fa7b;
}

.btn-box a:nth-child(2)::before {
  background: #50fa7b;
}

.btn-box a:nth-child(2):hover {
  color: #282a36;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #282a36;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.btn-box a:hover {
  color: #50fa7b;
}

::selection {
  background: #6273a4a8;
  color: #f8f8f2;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes showLeft {
  100% {
    width: 100%;
  }
}

@keyframes showFont {
  100% {
    line-height: 1.2;
  }
}

.works {
  page-break-after: always;
}

// terminal
.terminal {
  flex: 50%;
  opacity: 0%;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  100% {
    opacity: 85%;
  }
}

.fakeScreen {
  background-color: #121420;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  // padding: 20px;
  border-radius: 15px;
}

.Tcontents {
  padding: 15px;
}

.fakeButtons {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #ff5555;
  position: relative;
  top: 15px;
  left: 15px;
  background-color: #ff5555;
  display: inline-block;
}

.fakeMinimize {
  left: 10px;
  background-color: #f1fa8c;
  border-color: #f1fa8c;
}

.fakeZoom {
  left: 5px;
  background-color: #50fa7b;
  border-color: #50fa7b;
}

.fakeMenu {
  width: 550px;
  box-sizing: border-box;
  height: 25px;
  background-color: #121420;
  margin: 0 auto;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

span {
  display: inline-block;
  // border-right: .15em solid orange;
  // white-space: nowrap;
  // overflow: hidden;
  // background-color: #50fa7b;
}

.command {
  display: inline-block;
  color: #50fa7b;
  overflow: hidden; 
  width: 0%;
  border-right: .15em solid  transparent;  
  white-space: nowrap; 
  animation: typing 1s steps(6, end) forwards, blink-caret .5s step-end forwards infinite;
  animation-delay: 2s;
}



@keyframes typing {
  0% {
    width: 0;
  }
  99.9% {
    width: 12%;
    border-right: .15em solid orange;
  }
  100% {
    width: 12%;
    border: none;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color:  #f8f8f2;
  }
}


.response p {
  border-right: .15em solid orange;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

.response p.responseText {
  @include typeAnimate();
}


.response p.responseText2 {
  @include typeAnimate($delay: 5s);
}
.response p.responseText3 {
  @include typeAnimate($delay: 6s);
}
.response p.responseText4 {
  @include typeAnimate($delay: 7s);
}

.prompt {
  opacity: 0;
  animation: show 1s linear forwards, blink-caret .5s step-end forwards infinite;
  animation-delay: 8s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}


@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}